<div class="controls">
  <input
    class="time-input"
    type="time"
    min="00:00"
    max="23:00"
    autofocus
    required
    [value]="timeText"
    (input)="inputChangeHandler($event)"
  />
  <button
    class="copy-icon"
    title="Copy set time as link"
    (click)="copyLinkClickHandler()"
  ></button>
  <span
    id="copy-feedback"
    class="copy-feedback"
  >Copied!</span>
</div>
<div class="time-zones-area">
  <ul
    class="time-zone-list"
    id="time-zone-list">
    @for (item of timeZoneList; track item) {
      <li app-time-zone-list-item [timeZoneInfo]="item"></li>
    }
  </ul>
  <div class="regions"></div>
</div>

<router-outlet />
