<div class="content">
  <input
    class="time-input"
    autofocus
    placeholder="ex 13:25:00"
    type="text"
    [value]="timeText"
    (input)="change($event)"
  />
  <span class="time-zone">{{ timeZone }}</span>

</div>
<div>
  @for (item of timeZoneList; track item) {
    <div>
      <a class="copy-link"
         *ngIf="createLink() as link"
         href="javascript:void(0)"
         [title]="link"
         (click)="copyLinkToClipboard(link)"
      >{{ item }}</a>
    </div>
  }
</div>
<router-outlet />
